.App {
  text-align: center;
}
.homePage {
  list-style-type: none;
}
.homePage li {
  padding: 1%;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto 20px;
  text-align: center;
}
.myaccount li {
  display: block;
  text-align: left;
}
.link {
  text-decoration: none;
  margin: 10px;
}
img {
  width: 20vw;
  height: 30vh;
  padding: 2%;
}
.formData label {
  padding: 10px;
}
.formData input {
  margin: 10px;
  border-radius: 5px;
}
.benefits {
  padding: 5%;
  margin: 5%;
  text-align: left;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
}
.buttons {
  text-align: right;
}
.myaccount {
  padding: 5%;
  margin: 5%;
  text-align: left;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
}
